@model CorDosOlhos.Models.Contato;
@{
    ViewData["Title"] = "Contato";
    var Contatos = ViewData["Contatos"] as List<Contato>;

}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <br />
            <br />
            <h2 style="color: #341940 ">Contatos Cadastrados</h2>
            <br />
            <br />
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Email</th>
                            <th>Mensagem</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var contato in Contatos)
                            {
                                <tr>
                                    <td>@contato.IdContato</td>
                                    <td>@contato.NomeContato</td>
                                    <td>@contato.EmailContato</td>
                                    <td>@contato.MsgContato</td>

                                    <td>
                                        <form asp-controller="Editarcontato" asp-action="Deletar">
                                            <button class="btn btn-danger" type="submit">Excluir</button>
                                            <input asp-for="IdContato" style="visibility:hidden;" type="text" value="@contato.IdContato">
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        
          
   
            <br />
         
            <br />
            <h2 style="color:#341940">Atualizar Dados</h2>
            

                    <form asp-controller="Editarcontato" asp-action="Atualizar">
                            <div class="form-row">
                                <div class="card-content-area form-group col-md-3">
                                    <label class="titulo-form" for="">Código do cliente</label>
                                    <select class="custom-select" asp-for="IdContato">
                                        <option selected>Selecione um código</option>
                                        @{
                                            foreach (var contato in Contatos)
                                            {
                                                <option>@contato.IdContato</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="card-content-area form-group col-md-6">
                                    <label class="titulo-form" for="">Nome completo</label>
                                    <input asp-for="NomeContato" type="text" class="form-control" id="" placeholder="">
                                </div>
                                <div class="card-content-area form-group col-md-3">
                                    <label class="titulo-form" for="">E-mail</label>
                                    <input asp-for="EmailContato" type="text" class="form-control" id="" placeholder="exemplo@gmail.com">
                                </div>
                                <div class="card-content-area form-group col-md-3">
                                    <label class="titulo-form" for="">Mensagem</label>
                                    <textarea asp-for="MsgContato" type="date" class="form-control" id=""></textarea>
                                </div>

                            </div>
                         
                        <div class="card-btn">
                            <button type="submit" class="btn btn-primary">Atualizar</button>
                        </div>
                        
                    </form>
                
        
        </div>
     </div>   
 </div>  
